<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>S</servlet-name>
        <servlet-class>pkg.S</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>book</servlet-name>
        <servlet-class>pkg.book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jump</servlet-name>
        <servlet-class>pkg.jump</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regist</servlet-name>
        <servlet-class>pkg.regist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AS</servlet-name>
        <servlet-class>pkg.AS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>pkg.search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>withdraw</servlet-name>
        <servlet-class>pkg.withdraw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>pkg.add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>pkg.delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>read</servlet-name>
        <servlet-class>pkg.read</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>change</servlet-name>
        <servlet-class>pkg.change</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrow</servlet-name>
        <servlet-class>pkg.borrow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>returnbook</servlet-name>
        <servlet-class>pkg.returnbook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>S</servlet-name>
        <url-pattern>/S</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>book</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jump</servlet-name>
        <url-pattern>/jump</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regist</servlet-name>
        <url-pattern>/regist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AS</servlet-name>
        <url-pattern>/AS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>withdraw</servlet-name>
        <url-pattern>/withdraw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>read</servlet-name>
        <url-pattern>/read</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>change</servlet-name>
        <url-pattern>/change</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrow</servlet-name>
        <url-pattern>/borrow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>returnbook</servlet-name>
        <url-pattern>/returnbook</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
